<!DOCTYPE html>
<html>
	<head>
		<title>Page Under Construction</title>
    <script>window.location="https://plasma.vn"</script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Page Under Construction</h1>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jtkt888@gmail.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
